{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["typecheck", {"disable": {"production": true}}],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-runtime",
    "source-map-support-for-6"
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": [
        "default-import-checker"
      ]
    },
    "test": {
      "plugins": [
        "espower",
        "istanbul",
        "default-import-checker"
      ]
    }
  }
}
