{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    "syntax-flow",
    "transform-flow-strip-types",
    "transform-decorators-legacy",
    "transform-runtime"
  ],
  "env": {
    "production": {
      "plugins": [
        "source-map-support-for-6"
      ]
    },
    "development": {
      "plugins": [
        "default-import-checker",
        "source-map-support-for-6"
      ]
    },
    "test": {
      "plugins": [
        "espower",
        "istanbul",
        "default-import-checker"
      ]
    }
  },
  "sourceMaps": true
}
