{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "default-import-checker"
  ],
  "env": {
    "production": {
      "plugins": [
        "source-map-support-for-6"
      ],
      "sourceMaps": true
    },
    "development": {
      "plugins": [
        "source-map-support-for-6"
      ],
      "sourceMaps": true
    },
    "test": {
      "plugins": [
        "espower",
        "istanbul"
      ]
    }
  }
}
